!!! 5
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{"http-equiv"=>"x-ua-compatible", :content=>"ie=edge"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title #{current_page.data.title} || "Mapprint"
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    = stylesheet_link_tag "/stylesheets/leaflet_awesome_number_markers.css"
    = javascript_include_tag "bundle"
    = javascript_include_tag "https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
  %body
    = yield 
