!!! 5
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{"http-equiv"=>"x-ua-compatible", :content=>"ie=edge"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title 千葉県サポート情報
    %meta{:property=>"og:title", :content=>"沖縄キャンプマップ"}
    %meta{:property=>"og:type", :content=>"website"}
    %meta{:property=>"og:url", :content=>"https://codeforjapan.github.io/mapprint/"}
    %meta{:property=>"og:image", :content=>"https://codeforjapan.github.io/mapprint/images/thumbnail.png"}
    %meta{:property=>"og:site_name", :content=>"沖縄キャンプマップ"}
    %meta{:property=>"og:description", :content=>"尾道の洪水被害に対して、SNSで流れる給水所などの情報や、行政発信の情報を見れていない地域の人たちにも伝えるために、情報をA4にまとめて印刷してくばれるように情報を最適化しています。"}
    %meta{:property=>"fb:app_id", :content=>"192795788056486"}
    %meta{:name=>"twitter:card", :content=>"summary"}
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "mobile"
    = stylesheet_link_tag "https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans"
    = javascript_include_tag "bundle"
    = javascript_include_tag "https://www.gstatic.com/firebasejs/6.1.1/firebase-app.js"
    = yield_content :header
  %body
    :javascript
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAeHWBQHYtnqnKqvYMVG80yTNDOL9U5ly8",
        authDomain: "knowwhere-7b502.firebaseapp.com",
        databaseURL: "https://knowwhere-7b502.firebaseio.com",
        projectId: "knowwhere-7b502",
        storageBucket: "knowwhere-7b502.appspot.com",
        messagingSenderId: "553967041157",
        appId: "1:553967041157:web:eec1d011046e013b"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    = yield
